{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Dolmenwood{% endblock title %}
{% block content %}
<h1>Welcome to the Dolmenwood GM assistant</h1>

<p>
Dolmenwood is a fantasy adventure game set in a lavishly detailed world inspired by the fairy tales and eerie folklore of the British Isles. Like traditional fairy tales, Dolmenwood blends the dark and whimsical, the wondrous and weird.</p>

<p>Players journey through tangled woods and mossy bowers, forage for magical mushrooms and herbs, discover rune-carved standing stones and hidden fairy roads, venture into fungal grottoes and forsaken ruins, battle oozing monstrosities, haggle with goblin merchants, and drink tea with fairies.</p>

<p>Streamlined rules and helpful introductory materials guide novice players, while unique new magic and monsters bring a fresh sense of the unknown to veteran role-players.</p>

<p>This tool is developped independently from the game, and is provided "as is".</p>
{% endblock content %}
